<div>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="datePicker" [(ngModel)]="startDate"
      (ngModelChange)="onStartDateChosen()">
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field *ngIf="startDateChosen" appearance="fill">
        <mat-label>Start time</mat-label>
        <input matInput [ngxTimepicker]="startTimePicker" [max]="endTime" name="startTime" [(ngModel)] = "startTime"
        (ngModelChange)="onStartTimeChosen()">
        <ngx-material-timepicker-toggle matSuffix [for]="startTimePicker"></ngx-material-timepicker-toggle>
        <ngx-material-timepicker  #startTimePicker></ngx-material-timepicker>
    </mat-form-field>

    <mat-form-field *ngIf="startTimeChosen" appearance="fill">
      <mat-label>End time</mat-label>
      <input matInput [ngxTimepicker]="endTimePicker" [min]="startTime" name="endTime" [(ngModel)] = "endTime">
      <ngx-material-timepicker-toggle matSuffix [for]="endTimePicker"></ngx-material-timepicker-toggle>
      <ngx-material-timepicker #endTimePicker></ngx-material-timepicker>
    </mat-form-field>


  <button mat-raised-button (click)="this.detect()">Start detection</button>
</div>

