<!--dash.component.html-->
<div class="grid-container">
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="datePicker" [(ngModel)]="selectedDate"
           (ngModelChange)="onDateSelected()">
    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker #datePicker></mat-datepicker>
  </mat-form-field>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
      <app-card title="Detection statistics - maximum people count">
        <app-store-sessions-chart [detectionData]=this.detectionData [dataType]='people_max'></app-store-sessions-chart>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
      <app-card title="Detection statistics - minimum people count">
        <app-store-sessions-chart [detectionData]=this.detectionData [dataType]='people_min'></app-store-sessions-chart>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
      <app-card title="Detection statistics - average people count">
        <app-store-sessions-chart [detectionData]=this.detectionData [dataType]='people_avg'></app-store-sessions-chart>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart?.cols" [rowspan]="( cardLayout | async )?.chart?.rows">
      <app-card title="Day summary">
        <app-store-sessions-chart [detectionData]=this.detectionData [dataType]='day_summary'></app-store-sessions-chart>
      </app-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
